# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
myenv/
venv/
env/
.venv/

# Environment Variables
.env

# Streamlit
.streamlit/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/


*.pyc
*.db